.contact {
    border-top: 1px solid #cacaca;
    padding: 38px 0;
}

.contact__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact__title {
    font-weight: 600;
    font-size: 24px;
    color: #333;
}

.contact__form {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact__form-input {
    border: 1px solid #333;
    border-radius: 100px;
    padding: 15px 24px;
}

.contact__form-button {
    border: 2px solid #9d5cd0;
    border-radius: 100px;
    padding: 13px 35px;
    font-weight: 700;
    font-size: 18px;
    color: #9d5cd0;
    cursor: pointer;
    white-space: nowrap;
}

.contact__inner {
    display: flex;
    gap: 20.5px;
}

.contact__icon path {
    transition: opacity 0.5s ease;
}

@media (hover: hover) {
    .contact__link:hover .contact__icon path {
        opacity: 0.7;
    }
}

.contact__link:active .contact__icon .contact__icon-bg {
    fill: #30bf39;
    stroke-width: 1px;
    stroke: #9d5cd0;
    opacity: 1;
}

.contact__title-last {
    margin-bottom: 7px;
}
