.hero {
    background: grey url("../../images/hero/hero-bg.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero__wrapper {
    max-width: 579px;
    padding: 146px 0;
}

.hero__title {
    font-weight: 700;
    font-size: 72px;
    line-height: 94%;
    color: #fff;
    margin-bottom: 20px;
}

.hero__description {
    font-weight: 700;
    font-size: 18px;
    line-height: 167%;
    color: #fff;
    margin-bottom: 92px;
}

.hero__button {
    border-radius: 100px;
    padding: 22px 35px;
    background: #9d5cd0;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    border: 3px solid #9d5cd0;
    transition: border 0.5s ease, background 0.5s ease;
}

.hero__button:focus-visible {
    outline: 2px solid #c283f3;
    outline-offset: 3px;
}

@media (hover: hover) {
    .hero__button:hover {
        border: 3px solid #d1a9f0;
    }
}

.hero__button:active {
    background: #7943a4;
}
